<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Tiempo Veto" labelPlacement="floating" placeholder="Ingrese El Tiempo En Dias" [(ngModel)]="tiempo_veto_comentarios"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Motivo Veto" labelPlacement="floating" placeholder="Ingrese El Motivo De Baneo" [(ngModel)]="motivo_veto_comentarios"></ion-input>
  </ion-item>
  <ion-item class="input-item">
    <ion-select 
      [(ngModel)]="comentariosSeleccionado" 
      label="Comentarios" 
      labelPlacement="floating" 
      placeholder="Seleccione Comentarios"
      multiple="false">
      <ion-select-option *ngFor="let comentario of comentarios" [value]="comentario.id_comentario">
        {{ comentario.id_comentario }}
      </ion-select-option>
    </ion-select>
  </ion-item>  
  <ion-button color="success" (click)="insertar()">Agregar Control Comentario</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/control-comentarios']">Ir a Lista Controles</ion-button>
</ion-content>
