<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Tiempo Veto" labelPlacement="floating" placeholder="Ingrese El Tiempo En Dias" [(ngModel)]="Control.tiempo_veto_publicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Motivo Veto" labelPlacement="floating" placeholder="Ingrese El Motivo De Baneo" [(ngModel)]="Control.motivo_veto_publicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Publicacion Baneada</ion-label>
    <ion-input 
      placeholder="Ingrese El Id Del Usuario Baneado" 
      [(ngModel)]="nombreBaneado" 
      readonly>
    </ion-input>
  </ion-item>
  <ion-button color="success" (click)="modificar()">Modificar Control Publicacion</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/control-control-publicacion']">Ir a Lista Controles</ion-button>
</ion-content>
