<ion-content [fullscreen]="true">
  <div class="ion-padding">
  <ion-card class="registro-card">
    <ion-card-header>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-card-title class="ion-text-center">Registrarse</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      <form class="ion-padding">
        <span class="texto-label">Nombre</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Ingrese su Nombre" required></ion-input>
        </div>

        <span class="texto-label">Apellido</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.apellido" name="apellido" placeholder="Ingrese su Apellido" required></ion-input>
        </div>

        <span class="texto-label">Contraseña</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.carrera" name="carrera" placeholder="Ingrese a qué carrera pertenece" required></ion-input>
        </div>

        <span class="texto-label">Teléfono</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.telefono" name="telefono" placeholder="Ingrese su Número de Teléfono" required></ion-input>
        </div>
        
        <span class="texto-label">Correo</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.email" name="email" placeholder="Ingrese su Correo" required></ion-input>
        </div>

        <span class="texto-label">Contraseña</span>
        <div class="bordes-texto">
          <ion-input class="input" [(ngModel)]="usuario.contrasena" name="contrasena" placeholder="Ingrese su Contraseña" type="password" required></ion-input>
        </div>

          <ion-button class="custom-button" (click)="registro()">Registrarse</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
