<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Correo Usuario Contacto" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="contacto.correo_usuario_contacto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Mensaje Contacto" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="contacto.mensaje_contacto"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="modificar()">Modificar Contacto</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/contacto']">Ir a Lista Contactos</ion-button>
</ion-content>
