ion-content {
  --background: url('/assets/icon/Fondologin.jpeg') no-repeat center center / cover; 
}

.perfil-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  max-width: 90%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.perfil-card ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perfil-avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-info {
  text-align: center;
  color: black;
}

.followers-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.followers-info p {
  margin: 0;
  font-size: 1em;
  color: black;
}

ion-list {
  padding: 0;
}

.publicaciones-header {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}

.publicacion-card {
  margin: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.publicacion-card ion-item {
  --ion-item-background: transparent;
  padding: 10px;
}

.publicacion-card ion-avatar {
  width: 50px;
  height: 50px;
}

.nombre-usuario {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.titulo-publicacion {
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px 0;
}

.contenido-publicacion {
  font-size: 0.9em;
  color: #444;
}