<ion-header [translucent]="true">
  <ng-container *ngIf="rol_id_rol === 2; else NormalHeader">
    <app-header-admin></app-header-admin>
  </ng-container>
  <ng-template #NormalHeader>
    <app-header></app-header>
  </ng-template>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card class="perfil-card">

    <ion-card-content class="perfil-content-verde">
      <ion-avatar class="perfil-avatar">
        <img [src]="fotoPredeterminada" alt="Perfil">
      </ion-avatar>
      <ion-label class="perfil-info">
        <h2>{{nombre_usuario}} {{apellido_usuario}}</h2>
      </ion-label>

      <ion-button fill="clear" color="light" class="ajuste-btn" slot="end" (click)="openContact()">
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="light" class="ajuste-btn" slot="start" (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-content class="perfil-content-blanco">
      <div class="followers-info">
        <p>{{ seguidores }} seguidores</p>
        <p>{{ siguiendo }} siguiendo</p>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card-header>
    <h1 class="publicaciones-header">Mis Publicaciones</h1>
  </ion-card-header>


  <ion-card-content>
    <ion-list>
      <ion-card *ngFor="let x of arregloPublicacion" class="publicacion-card" (click)="descripcion(x)">
        <ion-item lines="none" class="publicacion-info-verde">
          <ion-avatar slot="start" class="publicacion-avatar">
            <img [src]="fotoPredeterminada" alt="Perfil">
          </ion-avatar>
          <ion-label>
            <h2 class="nombre-usuario">{{x.nombre_usuario_publicacion}}</h2>
            <p class="hora-publicacion">hace {{ x.fecha_publicacion }} horas</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="publicacion-content-blanco">
          <ion-label>
            <h3 class="titulo-publicacion">{{ x.titulo_publicacion }}</h3>
            <p class="contenido-publicacion">{{ x.descripcion_publicacion || 'Sin descripción disponible.' }}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-card-content>
</ion-content>