ion-toolbar {
  --background: #00796b; /* Color verde oscuro para el fondo */
  --border-color: #004d40; /* Bordes en un verde más oscuro */
  --border-width: 1px;
  padding: 0 16px; /* Espaciado interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.dimension {
  font-size: 20px; /* Ajusta el tamaño del icono dentro de los botones */
}

.logo {
  width: 120px; /* Tamaño del logo */
  height: 40px;
  border-radius: 50%; /* Logo circular */
  object-fit: cover;
  border: 2px solid #ffffff; /* Borde blanco alrededor del logo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto en hover */
}

.logo:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Intensifica la sombra */
}

ion-searchbar {
  flex: 1; /* Ocupa el espacio disponible */
  max-width: 300px; /* Ancho máximo */
  margin: 0 16px; /* Espaciado */
  --background: #f9f9f9; /* Fondo ligeramente gris */
  --color: #333; /* Color del texto */
  --placeholder-color: #888; /* Color del placeholder */
  --icon-color: #666; /* Color del icono de búsqueda */
  border-radius: 20px; /* Bordes redondeados */
}

ion-button.dimension {
  --padding-start: 8px; /* Ajusta el padding */
  --padding-end: 8px;
  --border-radius: 50%; /* Botones redondeados */
  --color: #333; /* Color del texto y de los iconos */
}

ion-icon {
  font-size: 24px; /* Tamaño de los iconos */
  color: #333; /* Color de los iconos */
}
