<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="dimension">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="start" [routerLink]="['/home']">
    <ion-button class="dimension">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-searchbar placeholder="Buscar" slot="start" class="dimension"></ion-searchbar>

  <ion-buttons slot="end">
    <ion-button class="dimension" [routerLink]="['/publicar']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end" [routerLink]="['/perfil']">
    <ion-button class="dimension">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
