ion-content {
  --background: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.ajustes-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 12px; 
  border: 1px solid #dddddd;
  background-color: #FFFFFF; /* Fondo blanco para la tarjeta */
}

.ajustes-card ion-card-header {
  background-color: #00796b; 
  color: #ffffff; 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #dddddd; 
}

.ajustes-card ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.ajustes-card ion-card-content {
  padding: 20px; 
  background-color: #ffffff; 
  border-bottom-left-radius: 12px; 
  border-bottom-right-radius: 12px;
  box-shadow: 0 10px 30px rgba(24, 136, 193, 0.12); /* Sombra más definida */
}

ion-input {
  --padding-start: 16px; 
  --padding-end: 16px; 
  --inner-padding-top: 12px; 
  --inner-padding-bottom: 12px; 
  --border-radius: 20px; /* Bordes redondeados */
  --background: #ffffff; 
  --placeholder-color: #999999; 
  --color: #333333; 
  border: 1px solid #dddddd;
  margin-bottom: 15px; 
  outline: none;
  box-shadow: 0 10px 30px rgba(24, 136, 193, 0.12); /* Sombra ligera */
}

ion-input:focus,
ion-input.ion-focused {
  border-color: #00796b; 
  box-shadow: 0 0 8px rgba(0, 121, 107, 0.5); /* Efecto de enfoque */
}

ion-input::placeholder {
  color: #999999; 
}

ion-button {
  margin-top: 15px;
  --background: #00796b;
  --border-radius: 20px;
  font-weight: bold;
  color: white;
  min-width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
}

ion-button[color="danger"] {
  background-color: #d32f2f;
}

ion-button[color="danger"]:hover {
  background-color: #b71c1c; 
}

ion-item {
  --background: transparent; 
  --border-width: 0; 
  box-shadow: none; 
}

.texto-label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #00796b;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  width: 100%;
  line-height: 1.2;
  outline: none;
  height: 35px;
}

.bordes-texto {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 26px;
  box-shadow: 0 10px 30px rgba(24, 136, 193, 0.12); /* Sombra sutil */
  padding-left: 10px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.container-boton {
  display: flex;
  justify-content: center;
  gap: 10px;
}
ion-button {
  margin-top: 15px;
}