<ion-header [translucent]="true">
  <ng-container *ngIf="rol_id_rol === 2; else NormalHeader">
    <app-header-admin></app-header-admin>
  </ng-container>
  <ng-template #NormalHeader>
    <app-header></app-header>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ajustes-card">
    <ion-card-header>
      <ion-card-title>Actualizar Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="usuario.email" label="Email" labelPlacement="floating"
          placeholder="Ingrese su Correo"></ion-input>
      </ion-item>
      <span class="error" *ngIf="errorCorreo">{{ errorCorreo }}</span>

      <ion-item>
        <ion-input [(ngModel)]="usuario.telefono" label="Teléfono" labelPlacement="floating"
          placeholder="Ingrese su Teléfono"></ion-input>
      </ion-item>
      <span class="error" *ngIf="errorTelefono">{{ errorTelefono }}</span>

      <ion-item>
        <ion-select [(ngModel)]="usuario.id_carrera" placeholder="Seleccione Carrera">
          <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">
            {{ carrera.nombre_carrera }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <span class="error" *ngIf="errorCarrera">{{ errorCarrera }}</span>
      
      <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ajustes-card">
    <ion-card-header>
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="usuario.contrasenaActual" type="password" label="Contraseña Actual" labelPlacement="floating"
          placeholder="Ingrese su Contraseña Actual"></ion-input>
      </ion-item>
      <span class="error" *ngIf="errorContrasenaBD">{{ errorContrasenaBD }}</span>

      <ion-item>
        <ion-input [(ngModel)]="usuario.nuevaContrasena" type="password" label="Nueva Contraseña" labelPlacement="floating"
          placeholder="Ingrese su Nueva Contraseña"></ion-input>
      </ion-item>
      <span class="error" *ngIf="errorContrasena">{{ errorContrasena }}</span>

      <ion-item>
        <ion-input [(ngModel)]="usuario.renuevaContrasena" type="password" label="Repetir Nueva Contraseña"
          labelPlacement="floating" placeholder="Repita su Nueva Contraseña"></ion-input>
      </ion-item>
      <span class="error" *ngIf="errorContrasena">{{ errorContrasena }}</span>

      <ion-button expand="full" (click)="guardarContrasena()">Guardar Nueva Contraseña</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
</ion-content>
