<ion-header [translucent]="true">
  <ng-container *ngIf="rol_id_rol === 2; else NormalHeader">
    <app-header-admin></app-header-admin>
  </ng-container>
  <ng-template #NormalHeader>
    <app-header></app-header>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="arregloPublicacion; else noData">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start" class="avatar-container">
          <img [src]="fotoPredeterminada" alt="Perfil">
        </ion-avatar>
        <ion-label>
          <h2>{{ arregloPublicacion.nombre_usuario_publicacion }}</h2>
          <p>Publicación Creada: {{ arregloPublicacion.fecha_publicacion }}</p>
          <p>{{ categorias[arregloPublicacion.categoria_publicacion_id_categoria] }}</p>
        </ion-label>
        <div class="card-menu">
          <ion-button fill="clear" (click)="openPopover($event)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <h1>{{ arregloPublicacion.titulo_publicacion }}</h1>
    </ion-card-content>

    <ion-card-content>
      <p>
        {{ arregloPublicacion.descripcion_publicacion }}
      </p>
      <img *ngIf="arregloPublicacion.foto" [src]="arregloPublicacion.foto" alt="Image preview" />
    </ion-card-content>

    <ion-item lines="none" *ngIf="arregloPublicacion; else noData">
      <ion-buttons>
        <ion-button class="icon-dimension" (click)="like(arregloPublicacion.id_publicacion)">
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <p>{{ arregloPublicacion.like_publicacion || 0 }}</p>
        </ion-button>
        <ion-button class="icon-dimension" (click)="comentario()">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p></p>
        </ion-button>
      </ion-buttons>
      <ion-button fill="clear" slot="end" class="icon-dimension" (click)="guardar()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- Sección para agregar comentarios -->
  <ion-card-content class="comment-section">
    <ion-item>
      <ion-textarea class="comment-textarea" [(ngModel)]="nuevoComentario"
        placeholder="Escribe un comentario..."></ion-textarea>
      <ion-button class="comment-button" (click)="agregarComentario()">Comentar</ion-button>
    </ion-item>

    <!-- Encabezado de la sección de comentarios -->
    <h2 class="comments-title">Comentarios</h2>

    <ion-list>
      <ion-item class="comment-item" *ngFor="let comentario of comentarios">
        <ion-avatar slot="start">
          <img [src]="fotoPredeterminada" alt="Avatar">
        </ion-avatar>
        <ion-label>
          <h3>{{ comentario.nombre_usuario_comentario }}</h3>
          <p>{{ comentario.comentario_publicacion }}</p>
        </ion-label>

        <!-- Botón de opciones en el comentario -->
        <div class="card-menu">
          <ion-button fill="clear" (click)="openPopover($event)" (click)="selectComentario(comentario)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>


  <ng-template #noData>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No se encontró la publicación.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Intenta nuevamente más tarde.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-popover [isOpen]="isPopoverOpen" (didDismiss)="closePopover()">
    <ng-template>
      <ion-list>
        <ion-item (click)="handleOption('option1', idUsuarioSeguir)">Eliminar Post</ion-item>
        <ion-item (click)="handleOption('option2', idUsuarioSeguir)">Seguir Usuario</ion-item>
        <ion-item lines="none" *ngIf="rol_id_rol === 2;">
          <ion-item (click)="handleOption('option3', idUsuarioSeguir)">Banear Usuario</ion-item>
        </ion-item>
        <ion-item lines="none" *ngIf="rol_id_rol === 2;">
          <ion-item (click)="handleOption('banearPublicacion', arregloPublicacion.id_publicacion)">Banear
            Publicación</ion-item>
        </ion-item>
        <ion-item *ngIf="comentarioSeleccionado" (click)="handleOption('eliminarComentario', comentarioSeleccionado)">
          Eliminar Comentario
        </ion-item>
        <ion-item *ngIf="rol_id_rol === 2" (click)="handleOption('banearComentario', idUsuarioSeguir)">Banear
          Comentario</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content>