<ion-header [translucent]="true">
  <ng-container *ngIf="rol_id_rol === 2; else NormalHeader">
    <app-header-admin></app-header-admin>
  </ng-container>
  <ng-template #NormalHeader>
    <app-header></app-header>
  </ng-template>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="navigateToPublicacion()">Lista Control Publicacion</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="navigateToComentario()">Lista Control Comentario</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let x of arregloComentarios">
    <ion-card-header>
      <ion-item lines="none">
        <div class="avatar-container">
          <ion-avatar slot="start">
            <img [src]="fotoPredeterminada" alt="Perfil">
          </ion-avatar>
        </div>
        <div class="info-container">
          <ion-label>
            <h2>{{ x.nombre_usuario_comentario }}</h2>
            <p>{{ x.comentario_publicacion }}</p>
            <p>Motivo Del Ban: {{ comentariosBan[x.id_comentario]?.motivo || 'N/A' }}</p>
            <p>Fecha de Desbaneo: {{ comentariosBan[x.id_comentario]?.fechaDesbaneo || 'N/A' }}</p>
            <p>Tiempo De Baneo: {{ comentariosBan[x.id_comentario]?.tiempo || 'N/A' }} Horas</p>
          </ion-label>
        </div>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
