<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Tiempo Veto" labelPlacement="floating" placeholder="Ingrese El Tiempo En Dias" [(ngModel)]="tiempo_veto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Motivo Veto" labelPlacement="floating" placeholder="Ingrese El Motivo De Baneo" [(ngModel)]="motivo_veto"></ion-input>
  </ion-item>
  <ion-item class="input-item">
    <ion-select 
      [(ngModel)]="usuariosSeleccionado" 
      label="Usuarios" 
      labelPlacement="floating" 
      placeholder="Seleccione Usuario"
      multiple="false">
      <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id_usuario">
        {{ usuario.nombre_usuario }} {{usuario.apellido_usuario}}
      </ion-select-option>
    </ion-select>
  </ion-item>  
  <ion-button color="success" (click)="insertar()">Agregar Control Usuario</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/control-usuario']">Ir a Lista Controles</ion-button>
</ion-content>
