ion-content {
    --background: white;
  }
  
  ion-card {
    --background: #ffffff; /* Fondo blanco para una apariencia limpia */
    --border-radius: 12px; /* Bordes redondeados para un diseño moderno */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente para profundidad */
    margin: 8px; /* Menor margen alrededor de las tarjetas */
    overflow: hidden; /* Asegura que los bordes redondeados se mantengan */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border: 1px solid #dddddd; /* Borde gris claro alrededor de la tarjeta */
  }
  
  ion-card-header {
    --background: #00796b; /* Fondo del encabezado en verde oscuro */
    --color: #ffffff; /* Color del texto en el encabezado */
    border-bottom: 1px solid #004d40; /* Borde inferior para separación */
    padding: 8px 12px; /* Espaciado interno */
  }
  
  ion-avatar {
    --border-radius: 50%; /* Avatar circular */
    border: 2px solid #004d40; /* Borde del avatar */
    width: 70px; /* Tamaño del avatar */
    height: 70px; /* Tamaño del avatar */
  }
  
  .info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; /* Ocupa el espacio restante */
  }
  
  ion-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
  }
  
  ion-card-header h2, ion-card-header p {
    margin: 0; /* Sin margen adicional */
    line-height: 1.2; /* Ajusta el espaciado entre líneas */
    color: #ffffff; /* Color del texto */
    text-align: left; /* Alineación del texto a la izquierda */
  }
  
  ion-card-header h2 {
    margin-right: 10px; /* Espaciado entre nombre y horas */
    font-size: 18px; /* Ajuste del tamaño del nombre */
  }
  
  ion-card-header p {
    font-size: 14px; /* Ajuste del tamaño de las horas */
  }
  
  ion-card-content {
    padding: 8px 12px; /* Menor espaciado interno en el contenido */
  }
  
  ion-card-content h1 {
    color: #004d40; /* Color del título en verde oscuro */
    font-size: 18px; /* Tamaño del título reducido */
    margin: 0 0 4px 0; /* Espaciado debajo del título */
  }
  
  ion-card-content p {
    color: #333; /* Color del texto */
    font-size: 14px; /* Tamaño del texto reducido */
    line-height: 1.4; /* Espaciado entre líneas */
    margin: 0; /* Sin margen adicional */
  }
  
  ion-item {
    --background: transparent; /* Fondo transparente */
    --border-color: transparent; /* Sin borde */
    padding: 4px 8px; /* Menor espaciado interno */
    display: flex; /* Flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  ion-button {
    --background: transparent; /* Fondo transparente */
    --color: #00796b; /* Color del texto y de los iconos */
    --padding-start: 4px;
    --padding-end: 4px;
    --border-radius: 50%; /* Botones redondeados */
  }
  
  ion-button.icon-dimension {
    --color: #00796b; /* Color del texto e íconos */
  }
  
  ion-button.icon-dimension:hover {
    --color: #004d40; /* Color del texto e íconos al pasar el ratón */
  }
  
  ion-icon {
    font-size: 20px; /* Tamaño de los íconos reducido */
    color: #00796b; /* Color de los íconos */
  }
  
  .card-menu {
    display: flex;
    align-items: center; /* Alineación vertical de los íconos */
    margin-left: auto; /* Empuja el botón de menú a la derecha */
  }
  
  .card-menu ion-button {
    --background: transparent; /* Fondo transparente */
    --color: #00796b; /* Color del ícono de los tres puntos */
  }
  
  .avatar-container {
    margin-right: 16px; /* Espaciado entre avatar y el texto */
  }
  