.login-card {
    max-width: 400px;
    margin: 200px auto; /* Centra la tarjeta vertical y horizontalmente */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }