<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar-card">
    <div class="ion-padding">
      <ion-card>
        <ion-card-content>
            <span class="texto-label">Email</span>
            <div class="bordes-texto">
              <ion-input class="input" [(ngModel)]="emailsolicitado" name="email" placeholder="Ingrese su Correo" required></ion-input>
            </div>

            <span class="texto-label">Contraseña</span>
            <div class="bordes-texto">
              <ion-input class="input" [(ngModel)]="contrasenasolicitada" name="contrasena" placeholder="Ingrese su Contraseña" type="password" required></ion-input>
            </div>

          <div class="container-boton">
            <ion-button class="boton-form" (click)="login()">Iniciar Sesión</ion-button>
            <ion-button class="boton-form" [routerLink]="['/registro']">Registrarse</ion-button>
          </div>
          </ion-card-content>
      </ion-card>
    </div>
  </div>
  <p class="ion-text-center">Olvidaste tu contraseña?</p><p class="ion-text-center" style="color: blue;" [routerLink]="['/verificacion-email']">Pincha aqui </p>
</ion-content>

