/* Estilo para el avatar del usuario y la cabecera del menú */
.menu-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .menu-header ion-avatar {
    margin-right: 12px;
  }
  
  .menu-header ion-label h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu-header ion-label p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  
  /* Estilo para los ítems de la lista */
  ion-item {
    --background: #ffffff;
    --border-color: #e0e0e0;
    --color: #333;
  }
  
  ion-item:hover {
    --background: #e0f7fa;
  }
  
  /* Estilo para los headers de la lista */
  ion-list-header {
    background-color: #00796b; /* Color de fondo verde oscuro */
    color: #ffffff; /* Color del texto blanco */
    padding: 8px 16px; /* Espaciado interno */
  }
  
  /* Ajustar el color del texto del item en hover */
  ion-item.activated {
    --background: #00796b; /* Fondo verde oscuro */
    --color: #ffffff; /* Texto blanco */
  }
  
  /* Estilo general del contenido del menú */
  ion-content {
    --background: #f4f4f4; /* Fondo claro */
  }
.color-menu{
    --background: #00796b; 
}  
/* Estilo para los encabezados de la lista */
ion-list-header {
    background-color: #00796b; /* Fondo verde oscuro */
    color: #ffffff; /* Color del texto blanco */
    padding: 12px 16px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    margin: 8px 0; /* Margen superior e inferior */
    text-align: center;
  }
  
  /* Efecto de transición para mejorar la interacción visual */
  ion-list-header:hover {
    background-color: #004d40; /* Fondo verde más oscuro en hover */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    transition: background-color 0.3s ease; /* Transición suave */
  }