<ion-app>
  
  <ion-menu side="start" menuId="first" contentId="main-content" type="reveal">
    <ion-header>
      <ion-toolbar class="color-menu">
        <img src="assets/icon/logo.webp" alt="Logo Empresa" class="logo" />
        <ion-title class="ion-text-center">Student Revolution</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngFor="let dato of Perfiles">
        
        <ion-item lines="none" class="menu-header" [routerLink]="['/perfil']">
          <ion-avatar slot="start">
            <img [src]="dato.foto" alt="User Avatar">
          </ion-avatar>
          <ion-label>
            <h2>Bienvenido,{{dato.nombreperfil}}</h2>
            <p>Tu perfil</p>
          </ion-label>
        </ion-item>

       
        <ion-list-header>
          <ion-label [routerLink]="['/perfil']">Gente que sigues</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let persona of personasSiguiendo" >
          <ion-avatar slot="start">
            <img [src]="dato.foto" alt="User Avatar">
          </ion-avatar>
          {{ persona.nombre }}
        </ion-item>

       
        <ion-list-header [routerLink]="['/busqueda']">
          <ion-label>Categorías</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let categoria of categorias" >
          <ion-avatar slot="start">
            <img [src]="categoria.foto" alt="User Avatar">
          </ion-avatar>
          {{ categoria.nombre }}
        </ion-item>
      </ion-list>

      <ion-list-header [routerLink]="['/admin/home']">
        <ion-label>Admin Views</ion-label>
      </ion-list-header>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
