<ion-app>
  <!-- Menú Lateral -->
  <ion-menu side="start" menuId="first" contentId="main-content" type="reveal">
    <ion-header>
      <ion-toolbar class="color-menu">
        <img src="assets/icon/logo.webp" alt="Logo Empresa" class="logo" />
        <ion-title class="ion-text-center">Student Revolution</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!-- Perfil del Usuario -->
        <ion-item lines="none" class="menu-header" [routerLink]="['/perfil']">
          <ion-avatar slot="start">
            <img [src]="fotoPredeterminada" alt="User Avatar" />
          </ion-avatar>
          <ion-label>
            <h2>Bienvenido, {{ nombre_usuario }} {{ apellido_usuario }}</h2>
            <p>Tu perfil</p>
          </ion-label>
        </ion-item>

        <!-- Seguidores en el Menú -->
        <ion-list-header>
          <ion-label>Gente que sigues</ion-label>
        </ion-list-header>

        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar seguidor"></ion-searchbar>

        <ng-container *ngIf="personasSiguiendo.length > 0; else noFollowers">
          <ion-item *ngFor="let persona of filteredFollowers()">
            <ion-avatar slot="start">
              <img [src]="persona.foto" alt="User Avatar" />
            </ion-avatar>
            {{ persona.nombre }}
          </ion-item>
        </ng-container>

        <ng-template #noFollowers>
          <ion-item lines="none">
            <ion-label>No sigues a nadie aún.</ion-label>
          </ion-item>
        </ng-template>

        <!-- Categorías en el Menú -->
        <ion-list-header [routerLink]="['/busqueda']" routerDirection="forward">
          <ion-label>Categorías</ion-label>
        </ion-list-header>

        <!-- Buscador de Categorías -->
        <ion-searchbar [(ngModel)]="searchCategoria" placeholder="Buscar categoría"></ion-searchbar>

        <ng-container *ngIf="categorias.length > 0; else noCategories">
          <ion-item *ngFor="let categoria of filteredCategorias()">
            {{ categoria.nombre_categoria }}
          </ion-item>
        </ng-container>

        <ng-template #noCategories>
          <ion-item lines="none">
            <ion-label>No hay categorías disponibles.</ion-label>
          </ion-item>
        </ng-template>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
