<ion-content [fullscreen]="true">
  <div class="centrar-card">
    <div class="ion-padding">
      <ion-card>
        <ion-card-content>
          <div class="info-box">
            <h3>¿Olvidaste tu Contraseña?</h3>
            <p>No te preocupes, ¡te ayudaremos a recuperarla en unos sencillos pasos!</p>
            <ul>
              <li><ion-icon name="mail-outline"></ion-icon>Ingresa tu correo electrónico asociado.</li>
              <li><ion-icon name="send-outline"></ion-icon>Haz clic en "Recuperación De Contraseña".</li>
              <li><ion-icon name="lock-open-outline"></ion-icon>Sigue las instrucciones en tu correo para restablecer la contraseña.</li>
            </ul>
            <p class="note">
              Si no encuentras el correo, revisa la carpeta de spam o contáctanos para obtener ayuda.
            </p>
          </div>

          <span class="texto-label">Email</span>
          <div class="bordes-texto">
            <ion-input class="input" [(ngModel)]="emailsolicitado" name="email" placeholder="Ingrese su Correo" required></ion-input>
          </div>
          <div class="container-boton">
            <ion-button class="boton-form" (click)="Email()">Recuperación De Contraseña</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
