<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar-card">
    <div class="ion-padding">
      <ion-card>
        <ion-card-content>
          <span class="texto-label">Email</span>
          <div class="bordes-texto">
            <ion-input class="input" [(ngModel)]="emailsolicitado" name="email" placeholder="Ingrese su Correo" required></ion-input>
          </div>
            <span class="texto-label">Contraseña</span>
            <div class="bordes-texto">
              <ion-input class="input" [(ngModel)]="contrasenasolicitado" name="contrasena" placeholder="Ingrese su Contraseña" type="password" required></ion-input>
            </div>

            <span class="texto-label">Re Ingrese Contraseña</span>
            <div class="bordes-texto">
              <ion-input class="input" [(ngModel)]="recontrasenasolicitada" name="contrasena" placeholder="Re Ingrese su Contraseña" type="password" required></ion-input>
            </div>

          <div class="container-boton">
            <ion-button class="boton-form" (click)="Contrasena()">Cambiar Contraseña</ion-button>
          </div>
          </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

