<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Nombre Usuario" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="usuario.nombre_usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellido Usuario" labelPlacement="floating" placeholder="Ingrese apellido" [(ngModel)]="usuario.apellido_usuario"></ion-input>
  </ion-item>
  
  <ion-item class="input-item">
    <ion-select [(ngModel)]="carreraSeleccionada" label="Carrera" labelPlacement="floating" placeholder="Seleccione Carrera">
      <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">
        {{ carrera.nombre_carrera }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-input label="Teléfono Usuario" labelPlacement="floating" placeholder="Ingrese teléfono" [(ngModel)]="usuario.telefono"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Correo Usuario" labelPlacement="floating" placeholder="Ingrese correo" [(ngModel)]="usuario.correo_usuario"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Contraseña Usuario" labelPlacement="floating" placeholder="Ingrese contraseña" [(ngModel)]="usuario.contrasena" type="password"></ion-input>
  </ion-item>
  
  <ion-item class="input-item">
    <ion-select [(ngModel)]="rolSeleccionado" label="Roles" labelPlacement="floating" placeholder="Seleccione Rol">
      <ion-select-option *ngFor="let rol of roles" [value]="rol.id_rol">
        {{ rol.nombre_rol }} 
      </ion-select-option>
    </ion-select>
  </ion-item> 

  <!-- Pregunta de Seguridad -->
  <ion-item class="input-item">
    <ion-select [(ngModel)]="preguntaSeleccionada" label="Preguntas" labelPlacement="floating" placeholder="Seleccione Pregunta">
      <ion-select-option *ngFor="let preguntasSeguridad of preguntasSeguridad" [value]="preguntasSeguridad.id_pregunta">
        {{ preguntasSeguridad.pregunta }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Respuesta a la Pregunta -->
  <span class="texto-label">Respuesta</span>
  <div class="bordes-texto">
    <ion-input class="input" [(ngModel)]="usuario.respuesta" name="respuesta" placeholder="Ingrese su Respuesta" required></ion-input>
  </div>
  
  <ion-button color="success" (click)="modificar()">Modificar Usuario</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/usuarios']">Ir a Lista Usuarios</ion-button>
</ion-content>
