<ion-header [translucent]="true">
  <ng-container *ngIf="rol_id_rol === 2; else NormalHeader">
    <app-header-admin></app-header-admin>
  </ng-container>
  <ng-template #NormalHeader>
    <app-header></app-header>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar-card">
    <div class="ion-padding">
      <ion-card>
        <ion-card-content>
          <span class="texto-label">Email</span>
          <div class="bordes-texto">
            <ion-input class="input" [(ngModel)]="emailsolicitado" name="email" placeholder="Ingrese su Correo" required></ion-input>
          </div>
          <span class="texto-label">Mensaje</span>
          <div class="text-area">
            <ion-textarea class="input" [(ngModel)]="mensaje" name="mensaje" placeholder="Ingrese su Mensaje" required></ion-textarea>
          </div>
          <div class="container-boton">
            <ion-button class="boton-form" (click)="Contacto()">Enviar Mensaje Al Administrador</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
