ion-toolbar {
  --background: transparent;

  ion-title {
    color: black;
    padding-bottom: 10px;
    font-weight: 900;
  }
}

ion-card {
  background: #F0F0F0;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 10px 30px 0px rgba(24, 136, 193, 0.12);
}

.centrar-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

ion-content {
  --background: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  .input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: black;
    line-height: 1.2;
    border-radius: 20px;
    outline: none;
    height: 50px;
  }

  .bordes-texto {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 26px;
    padding-left: 10px;
  }

  .container-boton {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .boton-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    --background: #00796b;
    --border-radius: 20px;
  }
}

.texto-label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #00796b;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  width: 100%;
  line-height: 1.2;
  outline: none;
  height: 30px;
}
