ion-content {
    --background: white;
  }
  
  ion-card {
    --background: #ffffff; 
    --border-radius: 12px; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #dddddd; 
  }
  
  ion-card-header {
    --background: #00796b; 
    --color: #ffffff; 
    border-bottom: 1px solid #004d40; 
    padding: 8px 12px; 
  }
  
  ion-avatar {
    --border-radius: 50%; 
    border: 2px solid #004d40; 
    width: 70px; 
    height: 70px; 
  }
  
  .info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; 
  }
  
  ion-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  
  ion-card-header h2, ion-card-header p {
    margin: 0; 
    line-height: 1.2; 
    color: #ffffff; 
    text-align: left; 
  }
  
  ion-card-header h2 {
    margin-right: 10px; 
    font-size: 18px; 
  }
  
  ion-card-header p {
    font-size: 14px; 
  }
  
  ion-card-content {
    padding: 8px 12px; 
  }
  
  ion-card-content h1 {
    color: #004d40; 
    font-size: 18px; 
    margin: 0 0 4px 0; 
  }
  
  ion-card-content p {
    color: #333; 
    font-size: 14px; 
    line-height: 1.4; 
    margin: 0; 
  }
  
  ion-item {
    --background: transparent; 
    --border-color: transparent; 
    padding: 4px 8px; 
    display: flex; 
    align-items: center; 
  }
  
  ion-button {
    --background: transparent; 
    --color: #00796b; 
    --padding-start: 4px;
    --padding-end: 4px;
    --border-radius: 50%; 
  }
  
  ion-button.icon-dimension {
    --color: #00796b; 
  }
  
  ion-button.icon-dimension:hover {
    --color: #004d40; 
  }
  
  ion-icon {
    font-size: 20px; 
    color: #00796b; 
  }
  
  .card-menu {
    display: flex;
    align-items: center; 
    margin-left: auto; 
  }
  
  .card-menu ion-button {
    --background: transparent; 
    --color: #00796b; 
  }
  
  .avatar-container {
    margin-right: 16px; 
  }
  