<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Tiempo Veto" labelPlacement="floating" placeholder="Ingrese El Tiempo En Dias" [(ngModel)]="Control.tiempo_veto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Motivo Veto" labelPlacement="floating" placeholder="Ingrese El Motivo De Baneo" [(ngModel)]="Control.motivo_veto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Usuario Baneado" labelPlacement="floating" placeholder="Ingrese El Id Del Usuario Baneado" [(ngModel)]="Control.usuario_id_usuario"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="modificar()">Modificar Control Usuario</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/control-usuario']">Ir a Lista Controles</ion-button>
</ion-content>
