<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let x of arregloPublicacion">
    <ion-card-header (click)="descripcion(x)">
      <ion-item lines="none">
        <div class="avatar-container">
          <ion-avatar slot="start">
            <img [src]="fotoPredeterminada" alt="Perfil">
          </ion-avatar>
        </div>
        <div class="info-container">
          <ion-label>
            <h2>{{ x.nombre_usuario_publicacion }}</h2>
            <p>hace {{ x.fecha_publicacion }} horas</p>
            <p>{{ categorias[x.categoria_publicacion_id_categoria] }}</p>
          </ion-label>
        </div>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <h1>{{ x.titulo_publicacion }}</h1>
    </ion-card-content>

    <ion-card-content>
      <p>
        <!-- Usamos un enfoque simplificado para mostrar la descripción -->
        {{ x.descripcion_publicacion || 'Sin descripción disponible.' }}
      </p>
    </ion-card-content>

    <ion-item lines="none">
      <ion-buttons>
        <ion-button class="icon-dimension" (click)="like(); $event.stopPropagation();">
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <p>{{ x.like_publicacion }}</p>
        </ion-button>
        <ion-button class="icon-dimension" (click)="comentario(x.id_publicacion); $event.stopPropagation();">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p>{{ x.comentarios }}</p>
        </ion-button>
        <ion-button class="icon-dimension">
          <ion-icon name="share-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-button fill="clear" slot="end" class="icon-dimension" (click)="guardar(); $event.stopPropagation();">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>  
</ion-content>
