<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let user of users" lines="none">
      <div class="user-card">
        <div class="avatar-name-container">
          <ion-avatar slot="start">
            <img [src]="user.foto" alt="Perfil">
          </ion-avatar>
          <ion-label class="name-label">
            <h2>{{ user.name }}</h2>
          </ion-label>
          <ion-buttons class="card-menu">
            <ion-button class="icon-dimension" (click)="openPopover($event)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <ion-label class="email-label">
          <p>{{ user.email }}</p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>

  
  <ion-popover [isOpen]="isPopoverOpen" (didDismiss)="closePopover()">
    <ng-template>
      <ion-list>
        <ion-item (click)="handleOption('option1')">Revocar Veto Del Usuario</ion-item>
        <ion-item (click)="handleOption('option2')">Banear Usuario</ion-item>
        <ion-item (click)="handleOption('option3')">Cambiar Contraseña Del Usuario</ion-item>
        <ion-item (click)="handleOption('option4')">Eliminar Cuenta Del Usuario</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
  
</ion-content>