ion-header {
    --background: var(--ion-color-primary);
}

ion-content {
    --background: white;
}

ion-list {
    margin: 0;
    padding: 0;
}

ion-item {
    --background: var(--ion-color-light);
    --border-color: transparent;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 8px;
}

.user-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
}

.avatar-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #00796b;
    
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    
}

.name-label h2 {
    font-weight: bold;
    color: white;
    margin: 0;
    margin-left: 10px;
    flex-grow: 1;
    
    font-size: 16px;
    
}

.email-label {
    background-color: #f0f0f0;
    
    color: #666;
    
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.email-label p {
    margin: 0;
}

ion-avatar {
    --border-radius: 50%;
    border: 2px solid #004d40;
    width: 50px;
    height: 50px;
}

ion-button {
    --background: transparent;
    --color: #00796b;
    --padding-start: 4px;
    --padding-end: 4px;
    --border-radius: 50%;
}

ion-button.icon-dimension:hover {
    --color: #004d40;
}

ion-icon {
    font-size: 20px;
    color: #000000;
}

.card-menu {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

.avatar-container {
    margin-right: 16px;
}

ion-list {
    background: transparent;
}
.item-native {
    background: transparent;
    border: none; 
    box-shadow: none; 
}
ion-item {
    --background: transparent;
    --border-color: transparent;
    padding: 0;
    margin-bottom: 15px;
    box-shadow: none; 
}
