<ion-header [translucent]="true">
  <app-header-admin></app-header-admin>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Titulo Publicacion" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="publicacion.titulo_publicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Descripcion Publicacion" labelPlacement="floating" placeholder="Ingrese nombre" [(ngModel)]="publicacion.descripcion_publicacion"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="modificar()">Modificar Publicacion</ion-button>
  <ion-button color="warning" [routerLink]="['/crud/publicacion']">Ir a Lista Publicacion</ion-button>
</ion-content>
