<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="publicar-card">
    <ion-card-header>
      <ion-card-title>Publicar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item class="input-item">
          <ion-input 
            label="Título" 
            labelPlacement="floating" 
            placeholder="Escriba un Título para su post">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input 
            label="Categoría" 
            labelPlacement="floating" 
            placeholder="Escriba una Categoría para su post">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-textarea 
            label="Contenido" 
            labelPlacement="floating" 
            placeholder="Escriba lo que quiere compartir">
          </ion-textarea>
        </ion-item>

        <ion-item class="input-item">
          <ion-label>Adjuntar Archivo</ion-label>
          <ion-button fill="outline" slot="end">
            <ion-icon slot="start" name="attach-outline"></ion-icon>
            Adjuntar
          </ion-button>
        </ion-item>

        <div class="button-group">
          <ion-button color="primary" [routerLink]="['/home']">
            Publicar
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
